/* shadow hover in card */

.hover:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 1s;
}


/* end */

.property-item .pi-badge {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 60px;
    padding: 5px 5px 0;
    height: 35px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}